*#
*~
.dap-breakpoints
.DS_Store
.cache/
*.elc
.lsp*
.swp
auto-save-list/
devdocs/
eln-cache/
elpa/
eshell/history
eshell/lastdir
org-persist/
places
projects
recentf
session*
sessions
straight/
tramp
transient/
tree-sitter/
url/